<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drillapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/leaves"
        android:label="@string/app_name"
        android:roundIcon="@drawable/leaves"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ContactInformation.ContactInformationActivity"

            android:parentActivityName=".MainActivity"></activity>

        <activity
            android:name=".Timer.TimerActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Jokes.JokeActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Clock.AlarmClockActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver
            android:name=".AirplanemodeReceiver.AirplanemodeReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Url.UrlActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Test.TestActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Game.GameActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>